.places__link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.22;
  margin: 12px 0 0 0;
  padding: 0;
  transition: opacity 1s linear;
}

.places__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .places__link {
    font-size: 2.34375vw;
  }
}