.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  margin: 92px auto;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1028px) {
  .cover__background {
    min-height: 57.8129vw;
  }
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 62.5vw;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}