.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  margin: 92px auto;
  max-width: 1184px;
  height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .cover__background {
    height: 57.8129vw;
  }
}