.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  margin: 0 48px 0 48px;
  padding-bottom: 24px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-left: 3.125vw;
    margin-right: 3.125vw;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: 310px;
    align-items: start;
    margin-left: 16px;
  }
}