.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 18px;
  padding: 0 48px 24px 48px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: 310px;
    align-items: start;
    padding-left: 16px;
  }
}